<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Categories</h1>
  @if (@Model.Count == 0)
  {
    <h3>No Crew members have been added!</h3>
  }
  @foreach (var contact in Model)
  {
    <h3><a href='/categories/@contact.GetId()'>@contact.GetName()</a></h3>
  }
  <p>
    <a href="/clear_categories">Category Clear</a>
  </p>
  <p><a href='/'>Back home</a></p>
</body>
</html>
