<h1>Please enter your crews information!</h1>

<a href="/new_cd">Click here to add your new crew member!</a>

@{
  if (Model == null )
  {
    <h3>Your feel is empty this is a sad day!</h3>
  }
  else
  {
    foreach (var Contact in Model)
    {
  <h3><a href='/Contact/@Cd.GetId()'>@Contact.GetCdName()</a></h3>
    }
  }
}
<p>
  <a href="/search">View all of your wonderful crew!</a>
</p>
<p>
  <a href="/clear_categories">Add a new member to the ranks!</a>
</p>
