<h1>Fill out the Requisition Orders!</h1>
<form action="/New_contacts" method="post">
  <label for="Contact-Name">Officer Name</label>
  <input id ="Contact-Name" type="text" name="Contact-Name" value="">
  <label id ="Contact-Address" for="Contact-Address">Officer Home World</label>
  <input id ="Contact-Address" type="text" name="Contact-Address" value="">
  <label id ="Contact-Phone" for="Contact-Phone">Tri-Corder Coordinates</label>
  <input id ="Contact-Phone" type="text" name="Contact-Phone" value="">
  <button type="submit">Sign them Up for Starfleet</button>

</form>

<a href="/">Return Home!</a>
