<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h3>Here is all of the officer information:</h3>
  <ul>
  @foreach (var cinfor in @Model["cinfo"])
  {
    <li>@cinfor.GetContactName()</li>
    <li>@cinfor.GetAddress()</li>
    <li>@cinfor.GetPhone()</li>
  }
</ul>
  <p><a href='/officers/@Model["contact"].GetId()/officers_info_specfic/new'>Add more information</a></p>
  <p><a href='/'>Return to Main Page</a></p>
</body>
</html>
