<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Add a Rank</h1>
  <form action="/officers" method="post">
    <label for="officer_rank_info-name">Contact name</label>
    <input id="contact-name" name="contact-name" type="text">
    <button type="submit">Add</button>
  </form>
  <p><a href="/">Back home</a>
</body>
</html>
