<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Official Enrollment</h1>
    <h1>@Model["cinfo"].GetContactName()</h1>

    <a href='/officers_info_specfic/new'>Add another officer</a>
    <a href='/officers_info_specfic'>View all officers</a>
  </body>
</html>
